In [2]:
# Converting String DAta type for price to integer by removing NPR and comma as well as deleting row with NEgotiable price
import pandas as pd

# Read the Excel file with multiple sheets
excel_file_path = 'Milestone 1- Working on thesis paper.xlsx'
dfs = pd.read_excel(excel_file_path, sheet_name=None)
output_file_path='M2-1 Working on thesis paper.xlsx';
# Create a writer to write to a new Excel file
with pd.ExcelWriter(output_file_path, engine='xlsxwriter') as writer:

    # Copy all sheets (excluding 'All Data') to the new Excel file
    for sheet_name, df in dfs.items():
        if sheet_name != 'All Data':
            df.to_excel(writer, sheet_name=sheet_name, index=False)

    # Copy and modify the 'All Data' sheet
    all_data_sheet = dfs.get('All Data', pd.DataFrame())
    if not all_data_sheet.empty:
        all_data_sheet_copy = all_data_sheet.copy()

        # Add a condition to remove rows with 'PRICE' containing 'NEGOTIABLE' (case-insensitive)
        # all_data_sheet_copy = all_data_sheet_copy[~all_data_sheet_copy['PRICE'].astype(str).str.contains('NEGOTIABLE', case=False)]
        # all_data_sheet_copy = all_data_sheet_copy[~all_data_sheet_copy['BODY'].astype(str).str.contains('Truck', case=False)]
        # all_data_sheet_copy = all_data_sheet_copy[~all_data_sheet_copy['BODY'].astype(str).str.contains('Bus', case=False)]

        # Add a new column 'PRICE_NEW' and modify the 'PRICE' column
        if 'PRICE' in all_data_sheet_copy.columns:
            all_data_sheet_copy['PRICE_NEW'] = all_data_sheet_copy['PRICE'].apply(
                lambda x: str(x).replace('NPR', '').replace(',', '') if pd.notna(x) else x
            )
     
        if 'KM_INT' in all_data_sheet_copy.columns:
            all_data_sheet_copy['KM_INT'] = all_data_sheet_copy['KM_INT'].apply(lambda x: str(x).replace(' ', '') if pd.notna(x) else x)
            # all_data_sheet_copy['KM_INT2'] = all_data_sheet_copy['KM_INT2'].apply(lambda x: None if pd.isna(x) or (x == '' or x==' ') else (x))
            all_data_sheet_copy['KM_INT'] = all_data_sheet_copy['KM_INT'].apply(lambda x: None if pd.isna(x) or (isinstance(x, str) and x.strip() in ['', 'Null']) or not isinstance(x, (int, str)) else int(x.replace(',', '')))

        if 'Model' in all_data_sheet_copy.columns:
            all_data_sheet_copy['BRANDNAME'] = all_data_sheet_copy['BRANDNAME'].replace({'Land': 'Land Rover'}, regex=True)
       

        # Write the modified 'All Data' sheet to the new Excel file
        
        all_data_sheet_copy.to_excel(writer, sheet_name='All Data', index=False)

print("Done!")

Done!

In [3]:
import pandas as pd

working_file_path='M2-1 Working on thesis paper.xlsx'
df = pd.read_excel(working_file_path,sheet_name='All Data')

In [5]:


# Display or use the filtered DataFrame as needed
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3406 entries, 0 to 3405
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   1           3406 non-null   int64
 1   PRICE       3406 non-null   object
 2   BRANDNAME   3406 non-null   object
 3   MAKEYEAR    3386 non-null   float64
 4   FUEL        3406 non-null   object
 5   KM          2811 non-null   object
 6   BODY        3406 non-null   object
 7   GEARBOX     3406 non-null   object
 8   DRIVE       3406 non-null   object
 9   COLOR       3406 non-null   object
 10  POSTDATE    3405 non-null   object
 11  MILEAGE     1676 non-null   object
 12  ENGINE(CC)  2802 non-null   float64
 13  KM_INT      2394 non-null   float64
 14  PRICE_NEW   3406 non-null   int64
dtypes: float64(3), int64(2), object(10)
memory usage: 399.3+ KB

https://www.youtube.com/watch?v=Wqmtf9SA_kk&ab_channel=NeuralNine
https://www.youtube.com/watch?v=xu0prYu5e-c&ab_channel=AliNasserEddine