In [1]:
# Converting String DAta type for price to integer by removing NPR and comma as well as deleting row with NEgotiable price
import pandas as pd

# Read the Excel file with multiple sheets
excel_file_path = 'Milestone 1- Working on thesis paper.xlsx'
dfs = pd.read_excel(excel_file_path, sheet_name=None)
output_file_path='M2-1 Working on thesis paper.xlsx';
# Create a writer to write to a new Excel file
with pd.ExcelWriter(output_file_path, engine='xlsxwriter') as writer:

    # Copy all sheets (excluding 'All Data') to the new Excel file
    for sheet_name, df in dfs.items():
        if sheet_name != 'All Data':
            df.to_excel(writer, sheet_name=sheet_name, index=False)

    # Copy and modify the 'All Data' sheet
    all_data_sheet = dfs.get('All Data', pd.DataFrame())
    if not all_data_sheet.empty:
        all_data_sheet_copy = all_data_sheet.copy()

        # Add a condition to remove rows with 'PRICE' containing 'NEGOTIABLE' (case-insensitive)
        # all_data_sheet_copy = all_data_sheet_copy[~all_data_sheet_copy['PRICE'].astype(str).str.contains('NEGOTIABLE', case=False)]
        # all_data_sheet_copy = all_data_sheet_copy[~all_data_sheet_copy['BODY'].astype(str).str.contains('Truck', case=False)]
        # all_data_sheet_copy = all_data_sheet_copy[~all_data_sheet_copy['BODY'].astype(str).str.contains('Bus', case=False)]

        # Add a new column 'PRICE_NEW' and modify the 'PRICE' column
        if 'PRICE' in all_data_sheet_copy.columns:
            all_data_sheet_copy['PRICE_NEW'] = all_data_sheet_copy['PRICE'].apply(
                lambda x: str(x).replace('NPR', '').replace(',', '') if pd.notna(x) else x
            )
     
        if 'KM_INT' in all_data_sheet_copy.columns:
            all_data_sheet_copy['KM_INT'] = all_data_sheet_copy['KM_INT'].apply(lambda x: str(x).replace(' ', '') if pd.notna(x) else x)
            # all_data_sheet_copy['KM_INT2'] = all_data_sheet_copy['KM_INT2'].apply(lambda x: None if pd.isna(x) or (x == '' or x==' ') else (x))
            all_data_sheet_copy['KM_INT'] = all_data_sheet_copy['KM_INT'].apply(lambda x: None if pd.isna(x) or (isinstance(x, str) and x.strip() in ['', 'Null']) or not isinstance(x, (int, str)) else int(x.replace(',', '')))

        if 'Model' in all_data_sheet_copy.columns:
            all_data_sheet_copy['BRANDNAME'] = all_data_sheet_copy['BRANDNAME'].replace({'Land': 'Land Rover'}, regex=True)
       

        # Write the modified 'All Data' sheet to the new Excel file
        
        all_data_sheet_copy.to_excel(writer, sheet_name='All Data', index=False)

print("Done!")

Done!

In [75]:
import pandas as pd

working_file_path='M2-1 Working on thesis paper.xlsx'
df = pd.read_excel(working_file_path,sheet_name='All Data')

3428
<class 'pandas.core.series.Series'>
RangeIndex: 3428 entries, 0 to 3427
Series name: KM_INT
Non-Null Count  Dtype
--------------  -----
2416 non-null   float64
dtypes: float64(1)
memory usage: 26.9 KB

In [76]:


# Display or use the filtered DataFrame as needed
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3428 entries, 0 to 3427
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   1           3428 non-null   int64
 1   PRICE       3428 non-null   object
 2   BRANDNAME   3428 non-null   object
 3   MAKEYEAR    3408 non-null   float64
 4   FUEL        3428 non-null   object
 5   KM          2833 non-null   object
 6   BODY        3428 non-null   object
 7   GEARBOX     3428 non-null   object
 8   DRIVE       3428 non-null   object
 9   COLOR       3428 non-null   object
 10  POSTDATE    3427 non-null   object
 11  MILEAGE     1690 non-null   object
 12  ENGINE(CC)  2587 non-null   object
 13  KM_INT      2416 non-null   float64
 14  PRICE_NEW   3428 non-null   int64
dtypes: float64(2), int64(2), object(11)
memory usage: 401.8+ KB

In [141]:
#Removing all empty columns except KM_INT(distance travelled)

withNullKMDataFrame = newDf.dropna(subset=['MAKEYEAR', 'BODY','DRIVE','FUEL','BRANDNAME','GEARBOX','PRICE_NEW'])
len(withNullKMDataFrame)

3496

In [142]:
#Drop specific Rows  with specific columns That  are null or empty

withoutNullKMDataFrame = newDf.dropna(subset=['MAKEYEAR', 'BODY','DRIVE','FUEL','BRANDNAME','GEARBOX','KM_INT','PRICE_NEW'])
len(withoutNullKMDataFrame)

2865

In [143]:
withoutNullKMDataFrame['COLOR'].value_counts()

COLOR
White               544
Silver              395
Grey                152
Other               146
silver              140
                   ...
ALICE BLUE            1
Urban Titanium        1
bule                  1
light Blue            1
Moon dust Silver      1
Name: count, Length: 425, dtype: int64

In [ ]:
#plot the data in scatter plot
import matplotlib.pyplot as plt


plt.scatter(df2["MAKEYEAR"], df2["KM_INT"])
plt.show()

In [ ]:
#Running Linear regression for Make year and km

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import seaborn as sns

X = df2['MAKEYEAR']
y = df2["KM_INT"]
# print(X,y);
sns.lmplot(x='MAKEYEAR', y='KM_INT', data=df2, ci=None, line_kws={'color': 'red'})
plt.xlabel('Year')
plt.ylabel('Distance Travelled')
plt.title('Linear Regression: Year vs Distance Travelled')
plt.show()

In [ ]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt

years_2d = np.array(df2['MAKEYEAR']).reshape(-1, 1)
X = years_2d  # Features
y = df2['KM_INT']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# By Earlier model using training set
# # Train the model
# model.fit(X_train, y_train)

# # Make predictions on the test set
# y_pred = model.predict(X_test)
# print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
# print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
# print('Root Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred, squared=False))


# By Sagar Chapagain using initial set
model.fit(X, y)
y_pred = model.predict(X)

r2=r2_score(y, y_pred);

print("Number of samples in X:", y_pred.shape[0])
print("Number of samples in y:", y.shape[0])
# print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
# print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
# print('Root Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred, squared=False))
print("R2 score is : ",r2)

#calculate r squared value
# Evaluate the model

# Plot the regression line
plt.scatter(X_train, y_test, color='black')
plt.plot(X_test, y_pred, color='blue', linewidth=3)
plt.xlabel('Year')
plt.ylabel('Distance Travelled')
plt.title('Linear Regression: Year vs Distance Travelled')
plt.show()

In [ ]:
df2["MAKEYEAR"].value_counts()

In [ ]:
df2["KM_INT"].describe()

In [ ]:
zerokm_filter = (df2["KM_INT"] == 0)

df2[zerokm_filter]

https://www.youtube.com/watch?v=Wqmtf9SA_kk&ab_channel=NeuralNine
https://www.youtube.com/watch?v=xu0prYu5e-c&ab_channel=AliNasserEddine