In [ ]:
# only Sheet that is  Updating for Nepali Cars sheet
# updated and splitted title column to brandname, year and model
import pandas as pd

# df = pd.read_csv('output_data_final.csv');
sheet_name_or_index = 1
df = pd.read_excel('v1-output-data-updated-column-nepalicars.xlsx',sheet_name='Nepali Cars Data')
brandName = []
for index, eachRow in df.iterrows():
    title=eachRow['title']
    brandName=(title.split()[1])
    year=(title.split()[0])
    model = ' '.join(title.split()[2:4]) if len(title.split()) > 2 else ''
    df.at[index, 'brandName'] = brandName
    df.at[index, 'Make Year'] = year
    df.at[index, 'Model'] = model
    df.to_excel('update_nepali_cars_column.xlsx', index=False)

In [ ]:
#To Copy all the remaining sheets along with the data to update for nepali cars
# updated and splitted title column to brandname, year and model
#  Also copied all the primary sheets remaining

import pandas as pd
from xlsxwriter import Workbook

dfs = pd.read_excel('output_data_final.xlsx', sheet_name=None)

# Specify the sheet you want to update
updating_sheet = 'Nepali Cars Data'

# Extract the DataFrame for the specified sheet
df = dfs[updating_sheet]
brandName = []
for index, eachRow in df.iterrows():
    title = eachRow['title']
    brandName = title.split()[1]
    year = title.split()[0]
    model = ' '.join(title.split()[2:4]) if len(title.split()) > 2 else ''
    df.at[index, 'brandName'] = brandName
    df.at[index, 'Make Year'] = year
    df.at[index, 'Model'] = model

# Save the updated DataFrame back to the Excel file
with pd.ExcelWriter('v1-output-data-updated-column-nepalicars.xlsx', engine='xlsxwriter') as writer:
    for sheet_name, df_sheet in dfs.items():
        if sheet_name == updating_sheet:
            # Save the updated DataFrame for the specified sheet
            df.to_excel(writer, sheet_name=sheet_name, index=False)
        else:
            # Save the unchanged DataFrames for other sheets
            df_sheet.to_excel(writer, sheet_name=sheet_name, index=False)

In [ ]:
#To Copy all the remaining sheets along with the data to update for Hamrobazar cars
# updated and splitted Transmission column to Drive(4WD, 2Wd), Gear(automatic/manual)
#  Also copied all the primary sheets remaining
import re
import pandas as pd
from xlsxwriter import Workbook

dfs = pd.read_excel('v1-output-data-updated-column-nepalicars.xlsx', sheet_name=None)

# Specify the sheet you want to update
updating_sheet = 'Hamro bazar data'

# Extract the DataFrame for the specified sheet
df = dfs[updating_sheet].copy() 
brandName = []
# for index, eachRow in df.iterrows():

drive_pattern = re.compile(r'(2WD|4WD|4 WD|2 WD)', flags=re.IGNORECASE)
df['DRIVE'] = (df['Transmission'].apply(lambda x: drive_pattern.search(str(x)) and drive_pattern.search(str(x)).group(0))).replace(" ", "")
# df['Drive'] = df['Transmission'].apply(lambda x: '2WD' if pd.notna(x) and ('2WD' in str(x).upper() or '2 WD' in str(x).upper()) else '4WD' if pd.notna(x) and ('4WD' in str(x).upper() or '4 WD' in str(x).upper()) else None)
automatic_pattern = re.compile(r'(Auto|Automatic|Power\s*Steering|PowerSteering)', flags=re.IGNORECASE)
manual_pattern = re.compile(r'Manual', flags=re.IGNORECASE)

# Apply regex patterns to create the 'Gear' column
df['GEARBOX']  = df['Transmission'].apply(lambda x: 'Automatic' if pd.notna(x) and automatic_pattern.search(str(x)) else 'Manual' if pd.notna(x) and manual_pattern.search(str(x)) else '-')

# df['Gear'] = df['Transmission'].apply(lambda x: 'Automatic' if pd.notna(x) and 'Auto' in str(x) or 'Power Steering' in str(x) else 'Manual')

# df.at[index, 'Drive'] = df['Drive'].fillna('-') 
display(df[['Transmission', 'GEARBOX', 'DRIVE']])




#Save the updated DataFrame back to the Excel file
with pd.ExcelWriter('v2-data-Transmission-drive-updated-column-hamrobazar.xlsx', engine='xlsxwriter') as writer:
    for sheet_name, df_sheet in dfs.items():
        if sheet_name == updating_sheet:
            # Save the updated DataFrame for the specified sheet
            df_combined = pd.concat([df_sheet, df[[ 'GEARBOX', 'DRIVE']]], axis=1)
            df_combined.to_excel(writer, sheet_name=sheet_name, index=False)

        else:
            # Save the unchanged DataFrames for other sheets
            df_sheet.to_excel(writer, sheet_name=sheet_name, index=False)

In [ ]:
#To Copy all the remaining sheets along with the data to update for Nepali Cars
# updated and splitted Body Type column to Drive(4WD, 2Wd), Body Type(Hatchback/SUV)
# updated the date time human readbale format to Y-m-d type format
#  Also copied all the primary sheets remaining
import re
import pandas as pd
from xlsxwriter import Workbook
from dateutil.relativedelta import relativedelta
from datetime import datetime

def convert_to_date(date_str):
    try:
        # Use regular expressions to extract numerical values and units
        match = re.search(r'(\d+)\s+(\w+)', date_str)

        if match:
            value, unit = int(match.group(1)), match.group(2)
            delta = None

            if 'month' in unit:
                delta = relativedelta(months=value)
            elif 'year' in unit:
                delta = relativedelta(years=value)
            elif 'day' in unit:
                delta = relativedelta(days=value)

            if delta:
                return datetime.now() - delta

    except (ValueError, OverflowError):
        pass  # Handle parsing errors here

    return None
dfs = pd.read_excel('v2-hamrobazar-data-updated-transmission-to-gearbox-drive.xlsx', sheet_name=None)

# Specify the sheet you want to update
updating_sheet = 'Nepali Cars Data'

# Extract the DataFrame for the specified sheet
df = dfs[updating_sheet].copy() 
brandName = []
# for index, eachRow in df.iterrows():


#for drive(4WD and 2WD)
drive_pattern = re.compile(r'4 Wheel Drives', flags=re.IGNORECASE)
df['GEARBOX']  = df['BODY TYPE'].apply(lambda x: '4WD' if pd.notna(x) and drive_pattern.search(str(x)) else '2WD')

#for Body Type(SUV and Hatchback)
SUV_pattern = re.compile(r'4 Wheel Drives & SUVs', flags=re.IGNORECASE);
HatchBack_pattern=re.compile(r'Hatchback & Station Wagons', flags=re.IGNORECASE);
# Apply regex patterns to create the 'Wheel Drive' column
df['BODY'] = df['BODY TYPE'].apply(lambda x: 'SUV' if pd.notna(x) and SUV_pattern.search(str(x)) else 'Hatchback' if pd.notna(x) and HatchBack_pattern.search(str(x)) else x)
df['DATE'] = df['POSTDATE'].apply(convert_to_date)
display(df[['BODY TYPE', 'GEARBOX','BODY','DATE']])




# Save the updated DataFrame back to the Excel file
with pd.ExcelWriter('v3-nepalicars-data-updated-body-type-to-gear-box-&-body.xlsx', engine='xlsxwriter') as writer:
    for sheet_name, df_sheet in dfs.items():
        if sheet_name == updating_sheet:
            # Save the updated DataFrame for the specified sheet
            df_combined = pd.concat([df_sheet, df[[ 'GEARBOX', 'BODY','DATE']]], axis=1)
            df_combined.to_excel(writer, sheet_name=sheet_name, index=False)

        else:
            # Save the unchanged DataFrames for other sheets
            df_sheet.to_excel(writer, sheet_name=sheet_name, index=False)

In [30]:
#Merging nepali cars and Hamrobazar data into one sheet
import pandas as pd
from xlsxwriter import Workbook
excel_file_path = 'v3-nepalicars-data-updated-body-type-to-gear-box-&-body.xlsx';
df = pd.read_excel(excel_file_path, sheet_name=None)

df1 = pd.read_excel(excel_file_path, sheet_name='Hamro bazar data')

# Read the second sheet into another DataFrame
df2 = pd.read_excel(excel_file_path, sheet_name='Nepali Cars Data')

print("DataFrame 1 - Columns:", df1.columns)
print("DataFrame 1 - Index Name:", df1.index.name)

print("\nDataFrame 2 - Columns:", df2.columns)
print("DataFrame 2 - Index Name:", df2.index.name)


df1_subset = df1[['PRICE', 'BRANDNAME','MAKEYEAR','FUEL','KM','BODY','GEARBOX','DRIVE','COLOR','POSTDATE','MILEAGE','ENGINE(CC)']]
df2_subset = df2[['PRICE', 'BRANDNAME','MAKEYEAR','FUEL','KM','BODY','GEARBOX','DRIVE','COLOR','POSTDATE','MILEAGE','ENGINE(CC)']]
df1_subset.reset_index(drop=True, inplace=True)
df2_subset.reset_index(drop=True, inplace=True)
concatenated_df = pd.concat([df1_subset, df2_subset], ignore_index=True)
print(concatenated_df)

concatenated_df.index = range(1, len(concatenated_df) + 1)

# Save the updated DataFrame back to the Excel file
with pd.ExcelWriter('v4-hamrobazar-nepalicars-all-data-merged.xlsx', engine='openpyxl') as writer:
    concatenated_df.to_excel(writer, sheet_name='All Data', index=True ,startrow=1)
    for sheet_name, df_sheet in df.items():
            # Save the unchanged DataFrames for other sheets
            df_sheet.to_excel(writer, sheet_name=sheet_name, index=False)

DataFrame 1 - Columns: Index(['BRANDNAME', 'adsTitle', 'id', 'POSTDATE', 'condition', 'PRICE',
       'description', 'locationDescription', 'createdBy', 'Transmission',
       'COLOR', 'MAKEYEAR', 'MILEAGE', 'ENGINE(CC)', 'FUEL', 'KM', 'BODY',
       'allFeatures', 'Url', 'Status', 'Used For', 'Delivery Charge',
       'Warranty', 'Delivery Area', 'Features', 'GEARBOX', 'DRIVE'],
      dtype='object')
DataFrame 1 - Index Name: None

DataFrame 2 - Columns: Index(['url', 'title', 'PRICE', 'KM', 'FUEL', 'AdsDATE', 'description',
       'BRANDS', 'SELLERPHONE', 'ENGINE(CC)', 'GEARBOX', 'MILEAGE', 'MAKEYEAR',
       'COLOR', 'BODY TYPE', 'FUEL.1', 'AIR CON', 'DRIVE TYPE', 'CONDITION',
       'FEATURES', 'Status', 'BRANDNAME', 'Model', 'DRIVE', 'BODY',
       'POSTDATE'],
      dtype='object')
DataFrame 2 - Index Name: None
               PRICE  BRANDNAME MAKEYEAR      FUEL      KM  \
0            1150000      Skoda     2012    Petrol   84000
1            3100000    Hyundai     2017    Petrol   35000
2            1000000      Honda     2005    Petrol  127000
3            3800000    Hyundai     2017    Petrol   36000
4            1425000    Hyundai     2005    Diesel     80k
...              ...        ...      ...       ...     ...
4195   NPR 3,420,667     Nissan   2016.0  (Petrol)    Null
4196   NPR 2,201,208       Ford   2015.0  (Petrol)    Null
4197  NPR 12,352,318     Hummer   2003.0  (Petrol)    Null
4198   NPR 3,008,950     Toyota   2013.0  (Petrol)    Null
4199   NPR 4,054,050  Chevrolet   2018.0  (Petrol)    Null

                    BODY    GEARBOX DRIVE           COLOR  \
0     Mid Size Hatchback  Automatic   2WD           Black
1     Mid Size Hatchback  Automatic   2WD          silver
2                  Sedan     Manual   2WD            Grey
3             CompactSUV     Manual   2WD   Phantom Black
4             CompactSUV     Manual   4WD  Blue sea greay
...                  ...        ...   ...             ...
4195              Trucks  Automatic   2WD           Other
4196              Saloon  Automatic   2WD           White
4197        Convertibles  Automatic   2WD           Black
4198              Saloon  Automatic   2WD           Other
4199                 SUV  Automatic   4WD           Other

                        POSTDATE MILEAGE ENGINE(CC)
0            2023-11-27T17:16:13      10       1200
1            2023-11-27T17:12:39      12       1497
2            2023-11-27T16:36:48      15       1600
3            2023-11-27T16:33:30   15-16       1600
4            2023-11-27T15:39:10      15       2000
...                          ...     ...        ...
4195  2020-12-21 22:56:11.807000     NaN        NaN
4196  2020-12-21 22:56:11.807000     NaN        NaN
4197  2020-12-21 22:56:11.807000     NaN        NaN
4198  2020-12-21 22:56:11.807000     NaN        NaN
4199  2020-12-21 22:56:11.807000     NaN        NaN

[4200 rows x 12 columns]

In [23]:
df1.head()

,BRANDNAME,adsTitle,id,POSTDATE,condition,PRICE,description,locationDescription,createdBy,Transmission,...,allFeatures,Url,Status,Used For,Delivery Charge,Warranty,Delivery Area,Features,GEARBOX,DRIVE
0,Skoda,URGENT SALE: Skoda Fabia 2012 Model!,57305829-B035-F7F8-844B-E5B001C997EF,2023-11-27T17:16:13,2,1150000,URGENT SALE: Skoda Fabia 2012 Model! \nIncredi...,"Nhu Pukhu (Rani Pokhari) Marg, कुमारीपाटी, जाव...",9841537160,Auto - 2WD,...,"Transmission:Auto - 2WD,\nColour:Black,\nMake ...",https://hamrobazaar.com/cars/skoda/urgent-sale...,1,NaN,NaN,NaN,NaN,NaN,Automatic,2WD
1,Hyundai,Creta 2017 base model supop,A3B950DA-22BE-97FB-1F5A-312756B65CD2,2023-11-27T17:12:39,3,3100000,gadi jasle heryo usle linxxa\nsingle user ho o...,"Kageshwori Manohara-08, कागेश्वरी मनोहरा नगरपा...",9851040368,Auto - 2WD,...,"Used For:personal,\nDelivery Charge:0,\nWarran...",https://hamrobazaar.com/cars/hyundai/creta-201...,1,personal,0,no,Within My Area,allow wheel tubeless tyre center luck music sy...,Automatic,2WD
2,Honda,Honda City full option,0B8831DB-16F3-1910-D00A-FC51C6832264,2023-11-27T16:36:48,3,1000000,Honda City 2005 Japanese made full option vehi...,"Kathmandu City, Kathmandu",9803699064,Manual2WD,...,"Used For:Personal,\nWarranty:Company,\nTransmi...",https://hamrobazaar.com/cars/honda/honda-city-...,1,Personal,NaN,Company,NaN,Full option,Manual,2WD
3,Hyundai,Hyundai Creta SX,5B453A55-51DF-B669-4991-43709C4346BA,2023-11-27T16:33:30,2,3800000,Hyundai Creta SX single handed use like brand ...,"Kathmandu City, Kathmandu",9803699064,Manual2WD,...,"Used For:Personal,\nWarranty:Company warranty,...",https://hamrobazaar.com/cars/hyundai/hyundai-c...,1,Personal,NaN,Company warranty,NaN,Full Option,Manual,2WD
4,Hyundai,Tucson on sell,D9A52A40-8477-7A24-0114-ABA3CBA411A8,2023-11-27T15:39:10,2,1425000,Suv compact jeep\n4wd drive\n2000cc\nDiesel Ve...,"Bhaktapur City, Bhaktapur",9860011679,Manual4WD,...,"Used For:Personal,\nTransmission:Manual4WD,\nC...",https://hamrobazaar.com/cars/hyundai/tucson-on...,1,Personal,NaN,NaN,NaN,Full option,Manual,4WD

In [24]:
for k,v in df1:
    print(k)

BRANDNAME
adsTitle
id
POSTDATE
condition
PRICE
description
locationDescription
createdBy
Transmission
COLOR
MAKEYEAR
MILEAGE
ENGINE(CC)
FUEL
KM
BODY
allFeatures
Url
Status
Used For
Delivery Charge
Warranty
Delivery Area
Features
GEARBOX
DRIVE